.border {
    border-radius: 0.5rem;
}

.centerheader {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

.centerheader__icon {
    color: var(--fb-grey03);
    height: 45px;
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.active {
    color: var(--fb-blue);
    border-bottom: 2.5px solid var(--fb-blue);
    border-radius: none;
}

.border:hover {
    background-color: var(--fb-grey01);
}

@media screen and (max-width: 700px) {
    .centerheader {
        display: none!important;
    }
}