.feed__story {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.feed {
    padding-top: 0.5rem;
    width: 608px;
    margin-top: 4.5rem;
}