:root {
    --fb-blue: #3578E5;
    --fb-grey01: #DADDE1;
    --fb-grey02: #BEC3C9;
    --fb-grey03: #606770;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}