.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: var(--fb-grey01);
    display: flex;
    justify-content: space-between;
}

.body__sidebar {
  position: sticky;
  top:0;
}